:root{
    color-scheme: only light;
}

.letter-img{
    height: 30px;
    width: 30px;
    background-image: url("../Images/letter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    border-radius: 100%;
}

.profile-img{
    margin-top: 35px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-image: url("../Images/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.big-img{
    margin-top: 2%;
    height: 200px;
    width: 400px;
    background-image: url("../Images/bigimg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.same-css{
    background-repeat: no-repeat;
    background-position: center;
}

.bootstrap{
    height: 100px;
    width: 100px;
    background-image: url("../Images/bootstrap.png");
    background-size: contain;    
}

.material-ui{
    height: 100px;
    width: 100px;
    background-image: url("../Images/matarialUI.png");
    background-size: cover;
}

.tailwind{
    height: 100px;
    width: 100px;
    background-image: url("../Images/tailwind.png");
    background-size: cover;
}

.github{
    height: 100px;
    width: 100px;
    background-image: url("../Images/github.png");
    background-size: contain;
}

.figma{
    height: 100px;
    width: 100px;
    background-image: url("../Images/figma.png");
    background-size: contain;
}


.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mybtn{
    border: 2px solid black;
    width: 100px;
    border-radius: 8px;
    font-weight: 600;
    background-color:white;
    text-align: center;

}

.navbar-head{
    padding: 25px 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.text-div{
    margin-top: 35px;
    text-align: center;
}

.headline-txt{
    font-size: 27px;
    font-weight: 600;
    font-family: monospace;
}

.secondary-txt{
    margin-top: 8px;
    font-size: 13px;
    font-family: sans-serif;
}

.my-txt{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 50px;

}

.intro-child{
    margin: 30px 0;
    font-family: monospace;
    width: 50%;
}

.head-secondary{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.lng-play{
    padding: 25px;
    font-size: 17px;
    font-weight: 500;
    font-family: sans-serif;
    color: #fabb08;
}
.skills-ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

li{
    padding: 1%;
    font-family: sans-serif;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #fabb08;
}

.tools-div{
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tools{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}

.all-images{
    margin-top: 4%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.projects-div{
    width: 100%;
    margin: 50px 0;
}

.title{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}

.project-name{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.headtext1{
    font-size: 17px;
    font-weight: 500;
    font-family: sans-serif;
}

.homefood-link:hover{
    font-size: 18px;
}

.smalltxt1{
    width: 70%;
    margin: 25px 0 ;
    text-align: center;
    font-family: monospace;
}

.project1, .project2{
    /* width: 35%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project1, .project2:hover{
    cursor: grab;
}

.project-image{
    height: 200px;
    width: 400px;
    background-image: url("../Images/project.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 2%;
}

.project1:hover ~ .project-image{
    background-image: url("../Images/homefood.JPG");
    background-size: contain;
}

.project2:hover ~ .project-image{
    background-image: url("../Images/Cakery.JPG");
    background-size: contain;
}

.halfline{
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}


.invite-button{
    width: 60%;
    margin: 25px 0;
    padding: 25px;
    font-weight: 600;
    background-color: #fabb08;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.invite-txt{
    width: 70%;
    text-align: center;
}

.invite-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.footer-div{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-txt{
    margin: 30px 0 ;
    text-align: center;
    font-family: monospace;
}

.insta{
    height: 20px;
    width: 20px;
    background-image: url("../Images/insta.png");
    background-size: cover;
}
.twitter{
    height: 20px;
    width: 20px;
    background-image: url("../Images/twitter.png");
    background-size: contain;
}
.linkin{
    height: 20px;
    width: 20px;
    background-image: url("../Images/linkin.png");
    background-size: cover;
}
.git{
    height: 20px;
    width: 20px;
    background-image: url("../Images/git.png");
    background-size: contain;
}

.social-logo{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.footer-minitxt{
    display: flex;
    font-size: 10px;
    align-items: center;
}

.dialog-text{
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

.close-div{
    display: flex;
    justify-content: flex-end;
}
.text-field{margin-top: 2%;}


@media all and (max-width:650px){
    .invite-button{
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    .invite-txt{
        width: 90%;
    }
    .invite-btn{
        margin-top: 3%;
    }
    .skills-ul{
        flex-direction: column;
        text-align: center;
    }
    li{
        border-radius: 0;
    }
    .social-logo{
        width: 50%;
    }
}

@media all and (max-width:400px){
    .big-img{
        height: 150px;
        width: 300px;
        background-size: cover;
    }
}